/* Logo styling */
.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.navbar-brand img {
  max-height: 100px;
  height: 80px;
  width: auto;
  object-fit: contain;
  object-position: left center;
}

/* Responsive logo adjustments */
@media (max-width: 991px) {
  .navbar-brand img {
    max-height: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    max-height: 40px;
    height: 40px;
  }
}
