/* Logo area background only */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  max-height: 75px;
  width: auto;
  object-fit: contain;
  object-position: left center;
}

/* Responsive logo adjustments */
@media (max-width: 991px) {
  .navbar-brand img {
    max-height: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    max-height: 40px;
    height: 40px;
  }
}
