node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
.dockerignore
Dockerfile
docker-compose*.yml
dist
.angular
.vscode
.idea
.firebase
.firebaserc
firebase.json
coverage
*.md
!README.md
e2e
.editorconfig
karma.conf.js
*.spec.ts
*.log
